[Unit]
Description= iotconnect python service, runs forever
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/bin/local/iotc/telemetry_demo.py /usr/local/iotc/config.json
Restart=always
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target