[Unit]
Description=Gives the iot user the right permissions to system assets

[Service]
Type=oneshot
ExecStart=chgrp iot /sys/class/leds/usr_led/brightness
ExecStart=chmod g+rw /sys/class/leds/usr_led/brightness
ExecStart=chgrp iot /sys/class/leds/sys_led/brightness                                         
ExecStart=chmod g+rw /sys/class/leds/sys_led/brightness                                        
Restart=on-failure

[Install]
WantedBy=multi-user.target
